<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="tests" >
<test name="ChromeTest">
<parameter name="browser" value="Chrome" />
<classes>
<class name="TestNG.CrossBrowserTesting">
</class>
</classes>
</test>
<test name="EdgeTest">
<parameter name="browser" value="Edge" />
<classes>
<class name="TestNG.CrossBrowserTesting">
</class>
</classes>
</test>

<!-- <suite name="Suite">
	<test name="It Company">
		<groups>
			<run>
				<include name="hr_department" />
				<include name="it_department" />
			</run>
		</groups>
		<classes>
			<class name="TestNG.Grouping"></class>
		</classes>
	</test> -->


</suite>
